body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #ecf0f1;
	color: #34495e;
}
.header{
	background-color: #2980b9;
	opacity: 0.8;
}
.footer{
	margin-top: 150px;
	margin-bottom: 20px;
}
.buscarServicio{
	background-color: #FFF;
}
.mapa{
	border: 1px #bdc3c7 dashed;
	border-radius: 10px;
	margin-bottom:20px;
	height: 260px;
	display: none;
}
.resultados{
	margin-top: 10px;
	font-size: 0.8em;
}
.foto-proveedor{
	width: 150px;
	height: 90px;
	border-radius: 10px;
	margin-top: 12px;
}
.contenedor{
	border: 1px #ecf0f1 dashed;
}
.contenedor div{
	float: left;
	margin-right: 8px;
}
.resumen{
	margin-top: 18px;
}

.btnComprar{
	margin-top: 30px;
}
.btnServicio{
	margin: 0;
	padding: 8px;
}
.foto-proveedor:hover{
	opacity: 0.6;
    filter: alpha(opacity=100);
}
.titulo{
	font-size: 38px;
	text-align: center;
	color: #2980b9;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-shadow: 1px 2px 1px #FFF;
}
.tagLine{
	text-align: center;
}
.tituloForm{
	margin-bottom: 40px;
	padding-top: 10px;
	font-size: 30px;
}
.domisil{
	margin: 0;
	padding: 0;
}
.domicilio{
	font-size: 220px;
	color:#f39c12;
	text-align: center;
	margin: 0;
	padding: 0;
}
.bus{
	color: #2980b9;
}
.item{
	color: #2980b9;
	font-weight: bold;
}
.service-container{
	margin: 0;
	padding: 0;
}

#panel{
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	/*margin-right: 20px;*/
}
.panel-resultados{
	margin-top: 10px;
}
#origen-icon{
}
#destino-icon{
	color: #e74c3c;
}
#panel, #domisil, #login{
	opacity: 0;
}
/*#servicio{
	opacity: 0.3;
}*/
.formRegistro{
	background-color: #FFF;
	opacity: 0;
}
.service{
	margin-top: 40px;
}
.login-service{
	margin-left: 1px;
	margin-right: 1px;
}
.registro{
	margin-top: 40px;
}
.icon-text{
	font-size: 18px;
	font-weight: bold;
	color: #16a085;
}
.login{
	  float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}
.menu-home{
	float:right;
	margin:0;
	padding: 0;
	margin-top: 10px;
}
.menu-home li, a{
	color: #2980b9 !important;
	font-weight: bold;
	list-style: none;	
	float: left;
	margin: 0;
	padding: 4px;
}
.menu-footer{
	float:left;
	margin:0;
	padding: 0;
}
.menu-footer li, a{
	color: #2980b9 !important;
	font-weight: bold;
	list-style: none;	
	float: left;
	margin: 0;
	padding: 4px;
}

.animate-show.ng-hide-add, 
.animate-show.ng-hide-remove {
  -webkit-transition:all linear 2s;
  -moz-transition:all linear 2s;
  -o-transition:all linear 2s;
  transition:all linear 2s;
  display:block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  line-height:0;
  opacity:0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity:0.9;

}

