<script>
    $(document).ready(function() {
    	$(document).ready(function() {
            $.material.init();
        });
    });
</script>

<div class="container">
<div class="row domisiliarios">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Panel de administración</h3>
			</div>
			<div class="panel-body">
				<div class="row items">
					<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" ng-controller="EmpresaCtrl">
						<div class="info-empresa">
							<i class="mdi-social-notifications icon-empresa"></i>
							<span class="numero">{{pendientes}}</span>
							<p>Pendientes</p>
						</div>
					</div>
						<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" ng-controller="EmpresaCtrl">
						<div class="info-empresa">
							<i class="mdi-maps-place icon-empresa"></i>
							<span class="numero">{{asignados}}</span>
							<p>Servicios</p>
						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" ng-controller="DomisiliariosCtrl">
						<div class="info-empresa">
							<i class="mdi-social-people icon-empresa"></i>
							<span class="numero">{{domi}}</span>
							<p>Domisiliarios</p>
						</div>
					</div>
				</div>

				<div class="row menu-list">
				<!-- <div class=""> -->
					<ul>
				        <li><a href="#/empresa">Gestionar servicios</a></li>
				        <li><a href="#/domisiliarios">Gestionar domiciliarios</a></li>
				        <li><a href="#/servicios">Informe de servicios</a></li>
				        <!-- <li><a href="#">Editar datos</a></li> -->
			        </ul>
		        <!-- </div> -->
		        </div>

				  <div class="contenido" ng-controller="DomisiliariosCtrl">
				    <h3>Gestion de domisiliarios</h3>
				    <button class="btn btn-success " data-toggle="modal" data-target="#domisiliario">Agregar domisiliario</button>
				    <div class="services table-responsive">
					<!-- <h1 ng-if="hayserives">No tiene servicios</h1> -->
					<table class="table table-hover">
						<thead >
							<tr>
								<th>#</th>
								<th>Foto</th>
								<th>Nombre</th>
								<th>Identificación</th>
								<th>Estado</th>
								<th>Email</th>
								<th>Telefono</th>
								<!-- <th>Accion</th> -->
							</tr>
						</thead>	
						<tbody>
							<tr ng-repeat="domisiliario in domisiliarios"> 
								<td>{{$index + 1}}</td>
								<td><img class="foto" ng-src="uploads/{{domisiliario.foto}}"></td>
								<td>{{domisiliario.nombre}}</td>
								<td>{{domisiliario.numCedula}}</td>
								<td><span class="label label-success">{{domisiliario.estado}}</span></td>
								<td>{{domisiliario.email}}</td>
								<td>{{domisiliario.telefono}}</td>
								<!-- <td><button  class="btn btn-info btn-xs" data-toggle="modal" data-target="#editDomisiliario" ng-click="editarDomisiliario(domisiliario)">Editar</button></td> -->
							</tr>
						</tbody>
					</table>
				<!-- 	<button  ng-click="newService()" class="btn btn-success btn-fab btn-raised mdi-content-add"></button><span class="nuevo">Nuevo servicio</span> -->
				</div>
				  </div>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>

<div class="modal" id="domisiliario" ng-controller="DomisiliariosCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Registrar domisiliario</h4>
            </div>
            <div class="modal-body">
                <!-- <p>One fine body…</p> -->
                <form>
                	<div class="form-group">
                		<label for="nombre">Nombre</label>
                		<input ng-model="nombre" type="text" class="form-control" id="nombre"  name="nombre"/>
                	</div>

                	<div class="form-group">
                		<label for="ide">Identificación</label>
                		<input ng-model="numCedula" type="text" class="form-control" id="ide" name="ide" />
                	</div>

                	<div class="form-group">
                		<label for="email">Email</label>
                		<input ng-model="email" type="text" class="form-control" id="email" name="email" />
                	</div>

                	<div class="form-group">
                		<label for="telefono">Teléfono</label>
                		<input ng-model="telefono" type="text" class="form-control" id="telefono" name="telefono"/>
                	</div>

                	<div class="form-group">
			            <label for="foto" class="col-lg-2 control-label"></label>
		                <input  type="text" readonly="" class="form-control floating-label" placeholder="Foto...">
		                <input type="file" file-model="foto" name="foto" id="foto">
		        	</div>
                </form>

               	<div class="alert alert-dismissable alert-success" ng-show="ver">
				    <button type="button" class="close" data-dismiss="alert">×</button>
				    <strong>{{respuesta}} </strong>
				</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="addDomisiliario()">Registrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para modificar los datos del domisiliario -->
<div class="modal" id="editDomisiliario" ng-controller="DomisiliariosCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Registrar domisiliario</h4>
            </div>
            <div class="modal-body">
                <!-- <p>One fine body…</p> -->
                <form>
                	<div class="form-group">
                		<label for="nombre">Nombre</label>
                		<input ng-model="nombre_domi" type="text" class="form-control" id="nombre" />
                	</div>

                	<div class="form-group">
                		<label for="ide">Identificación</label>
                		<input ng-model="numCedula_domi" type="text" class="form-control" id="ide" />
                	</div>

                	<div class="form-group">
                		<label for="email">Email</label>
                		<input ng-model="email_domi" type="text" class="form-control" id="email" />
                	</div>

                	<div class="form-group">
                		<label for="telefono">Teléfono</label>
                		<input ng-model="telefono_domi" type="text" class="form-control" id="telefono"/>
                	</div>

                	<div class="form-group">
			            <label for="foto" class="col-lg-2 control-label"></label>
		                <input  type="text" readonly="" class="form-control floating-label" placeholder="Foto...">
		                <input type="file" file-model="foto" name="foto" id="foto">
		        	</div>
                </form>

               	<div class="alert alert-dismissable alert-success" ng-show="ver">
				    <button type="button" class="close" data-dismiss="alert">×</button>
				    <strong>{{respuesta}} </strong>
				</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="addDomisiliario()">Registrar</button>
            </div>
        </div>
    </div>
</div>
</div>