<!-- <div class="container footer">
	<ul class="menu-footer">
		<li><a href="#/funciona">Cómo funciona</a></li>
		<li><a href="#/nosotros">Nosotros</a></li>
	</ul>
</div> -->

<div class="row footer">
	<h4>Domisil 2015 - Todos los derechos reservados</h4>
	<div class="social">
		<p>Siguenos:</p> 
		<a href=""><i class="fa fa-facebook-official"></i></a> 
		<a href=""><i class="fa fa-twitter-square"></i></a>
		<a href=""><i class="fa fa-instagram"></i></a>
		<a href=""><i class="fa fa-youtube-square"></i></a>
	</div>
</div>