<!-- <div>
<div class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand domisil" href="#/home">Domisil Web</a>
	</div> -->
	
<!-- 		<ul class="menu-home nav navbar-nav">
		<li class="dropdown" ng-if="autenticar()">
			<a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{user[0].usuario}}<b class="caret"></b></a>
			<ul class="dropdown-menu">
	            <li><a href="#/perfil">Perfil</a></li>
	            <li><a href="#">Historial de servicios</a></li> -->
	            <!-- <li class="divider"></li> -->
<!-- 	            <li ng-if="autenticar()"><a href="#/logout">Cerrar sesión</a></li>
	        </ul>
		</li>
		<li ng-if="!autenticar()"><a href="#/login">Ingresar</a></li>
		<li ng-if="!autenticar()" >|</li>
		<li ng-if="!autenticar()"><a href="#/signup">Registrar</a></li>
		</ul> -->
	
<!-- </div> -->