<script>
    $(document).ready(function() {
    	$(document).ready(function() {
            $.material.init();
        });
        $('#login').animate({
            'opacity':'1'
        }, 1500);
    });
</script>
<div class="container">
<div class="row"> 
	<div class="col-md-12 pageLogin">
	<div class="col-sm-6 col-md-6 login" id="login">
		<div class="panel panel-default ">
		    <div class="panel-heading">
		        <h3 class="panel-title">Login de usuario</h3>
		    </div>
		    <div class="panel-body">
		       <form class="form-horizontal frm-login" ng-submit="login.login()" method="post">
		       		<div class="form-group">
		       			<label class="control-label">Usuario</label>
					    <div class="input-group">
					        <span class="input-group-addon mdi-social-person icon-text"></span>
					        <input class="form-control" type="text" ng-model="login.usuario">
					    </div>
		       		</div>

		       		<div class="form-group">
		       			<label class="control-label">Password</label>
					    <div class="input-group ">
					        <span class="input-group-addon mdi-navigation-apps icon-text"></span>
					        <input class="form-control" type="password" ng-model="login.password">
					    </div>
		       		</div>
					<button class="btn btn-primary" type="submit">Ingresar</button>
				</form>
				 <button class="btn btn-block btn-facebook" ng-click="login.authenticate('facebook')">
     				<i class="fa fa-facebook"></i>Iniciar sesión usando Facebook
        		</button>

        		<a class="loginEmpresa" href="#/loginEmpresa">Entrar como empresa</a>
		    </div>
		</div>
	</div>
	</div>
</div>
</div>