<script>
    $(document).ready(function() {
    	$(document).ready(function() {
            $.material.init();
        });
        //  $('#service').animate({
        //  	// 'margin-left':'10px',
        //     'opacity':'1'
        // }, 1500);

    });
</script>

<div class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand domisil" href="#/home">Domisil Web</a>

	    <div class="menu-movil" ng-controller="HomeCtrl">
	    	<a ng-if="autenticar()" href="#/perfil">Perfil</a>
	    	<a ng-if="autenticar()" href="#/myservices">Servicios</a>
	    	<a ng-if="autenticar()" href="#/logout">Cerrar sesión</a>

	    	<a ng-if="!autenticar()" href="#/login">Ingresar</a>
			<a ng-if="!autenticar()" href="#/signup">Registrar</a>
	    </div>
	</div>
	
	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="menu-home" ng-controller="HomeCtrl">
			<li class="dropdown" ng-if="autenticar()">
				<a href="" data-target="" class="dropdown-toggle" data-toggle="dropdown">{{user[0].nombre}}<b class="caret"></b></a>
				<ul class="dropdown-menu">
		            <!-- <li><a href="#/perfil">Perfil</a></li> -->
		            <li><a href="#/myservices">Historial de servicios</a></li>
		            <!-- <li class="divider"></li> -->
		            <li ng-if="autenticar()"><a href="#/logout">Cerrar sesión</a></li>
		        </ul>
			</li>
		</ul>
	</div>
</div>

<div class="row" ng-controller="PerfilCtrl">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Mi cuenta</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-5 datos_perfil">
					<h3 class="title-perfil">Editar cuenta</h3>
					<form class="frm-perfil" role="form">
						<div class="form-group">
							<label class="form-label">Usuario</label>
							<input type="text" class="form-control" ng-model="usuario">
						</div>

						<div class="form-group">
							<label class="form-label">Nombre</label>
							<input type="text" class="form-control" ng-model="nombre">
						</div>

						<div class="form-group">
							<label class="form-label">Email</label>
							<input type="text" class="form-control" ng-model="email">
						</div>

						<div class="form-group">
							<label class="form-label">Teléfono</label>
							<input type="text" class="form-control" ng-model="telefono">
						</div>
					</form>
				</div>
					<div class="col-md-1"></div>

					<div class="col-md-6 cambio_clave">
						<h3 class="title-perfil">Cambiar clave</h3>
						<form class="frm-perfil" role="form">
							<div class="form-group">
								<label class="form-label">Nueva contraseña</label>
								<input class="form-control" type="password" placeholder="********">
							</div>

							<div class="form-group">
								<label class="form-label">Repetir contraseña</label>
								<input ng-model="password" class="form-control" type="password" placeholder="********">
							</div>
							<button type="button" ng-click="editPerfile()" class="btn btn-primary">Guardar cambios</button>
						</form>
					</div>
			</div>
					<a href="#/myservices" >Mis últimos servicios</a>
		</div>
	</div>
</div>