<script>
    $(document).ready(function() {
    	$(document).ready(function() {
            $.material.init();
        });
        $('#formRegistro').animate({
            'opacity':'1'
        }, 1500);
         $('#domisil').animate({
         	'margin-left':'50px',
            'opacity':'1'
        }, 1500);
    });
</script>

<div class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand domisil" href="#/home">Domisil Web</a>
	</div>
	
	<div class="navbar-collapse collapse navbar-responsive-collapse">
	<ul class="menu-home" ng-controller="HomeCtrl">
	<li class="dropdown" ng-if="autenticar()">
		<a href="" data-target="" class="dropdown-toggle" data-toggle="dropdown">{{user[0].usuario}}<b class="caret"></b></a>
		<ul class="dropdown-menu">
            <li><a href="#/perfil">Perfil</a></li>
            <li><a href="">Historial de servicios</a></li>
            <!-- <li class="divider"></li> -->
            <li ng-if="autenticar()"><a href="#/logout">Cerrar sesión</a></li>
        </ul>
	</li>
	<li ng-if="!autenticar()"><a href="#/login">Ingresar</a></li>
	<li ng-if="!autenticar()" >|</li>
	<li ng-if="!autenticar()"><a href="#/signup">Registrar</a></li>
	</ul>
	</div>
</div>

<div class="col-lg-6 col-md-6 formRegistro" id="formRegistro" ng-controller="RegistroCtrl">
	<h1 class="titulo tituloForm">Registro de empresas</h1>
	<form class="form-horizontal" action="">
	    <fieldset>
	        <div class="form-group">
	            <label for="nombreEmpresa" class="col-lg-2 control-label">Nombre empresa</label>
	            <div class="col-lg-10">
	                <input  ng-model="nombreEmpresa" type="text" class="form-control" id="nombreEmpresa" placeholder="Nombre empresa">
	            </div>
	        </div>

	        <div class="form-group">
	            <label for="nitEmpresa" class="col-lg-2 control-label">NIT empresa</label>
	            <div class="col-lg-10">
	                <input ng-model="nitEmpresa" type="text" class="form-control" id="nitEmpresa" placeholder="NIT de la empresa">
	                <span class="help-block">Si desea generar una factura de servicio por favor ingrese el NIT de su empresa.</span>
	            </div>
	        </div>

	        <div class="form-group">
	            <label for="tarifaKm" class="col-lg-2 control-label">Tarifa KM</label>
	            <div class="col-lg-10">
	                <input ng-model="tarifaKm" type="text" class="form-control" id="tarifaKm" placeholder="Tarifa por kilometro">
	            </div>
	        </div>

	        <div class="form-group">
	            <label for="telefono" class="col-lg-2 control-label">Teléfono</label>
	            <div class="col-lg-10">
	                <input ng-model="telefono" type="text" class="form-control" id="telefono" placeholder="Teléfono">
	            </div>
	        </div>

	        <div class="form-group">
	            <label for="email" class="col-lg-2 control-label">Email</label>
	            <div class="col-lg-10">
	                <input ng-model="email" type="email" class="form-control" id="email" placeholder="Correo eléctronico">
	            </div>
	        </div>

	        <div class="form-group">
	            <label for="logoEmpresa" class="col-lg-2 control-label">File</label>
	            <div class="col-lg-10">
	                <input  type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
	                <input type="file" file-model="logoEmpresa" name="logoEmpresa" id="logoEmpresa">
	            </div>
        	</div>
	        <div class="form-group">
	            <div class="col-lg-10 col-lg-offset-2">
	                <button class="btn btn-default">Cancel</button>
	                <button ng-click="registrarEmpresa()" type="button" class="btn btn-primary">Registrar</button>
	            </div>
	        </div>
	    </fieldset>
	</form>
	<div class="respuesta">{{respuesta}}</div>
</div>


<div class="col-lg-6 col-md-6">
	
</div>
