<div class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand domisil" href="#/home">Domisil Web</a>
	</div>
	
	<div class="navbar-collapse collapse navbar-responsive-collapse">
	<ul class="menu-home" ng-controller="HomeCtrl">
	<li class="dropdown" ng-if="autenticar()">
		<a href="" data-target="" class="dropdown-toggle" data-toggle="dropdown">{{user[0].nombre}}<b class="caret"></b></a>
		<ul class="dropdown-menu">
            <li><a href="#/perfil">Mi cuenta</a></li>
            <li><a href="#/myservices">Historial de servicios</a></li>
            <!-- <li class="divider"></li> -->
            <li ng-if="autenticar()"><a href="#/logout">Cerrar sesión</a></li>
        </ul>
	</li>
	<li ng-if="!autenticar()"><a href="#/login">Ingresar</a></li>
	<li ng-if="!autenticar()" >|</li>
	<li ng-if="!autenticar()"><a href="#/signup">Registrar</a></li>
	</ul>
	</div>
</div>


<div class="row" ng-controller="ResumenCrtl">
	<div class="col-md-12">
		<!-- <h2>{{titlePage}}</h2> -->
		<div class="panel panel-info" id="print">
			<div class="panel-heading">
				<h3 class="panel-title">Resumen del servicio</h3>
			</div>	
			<div class="panel-body">
				<p><span class="item">Servicio: </span>{{tipoPago}}</p>
				<p><span class="item">Origen: </span>{{origen}}</p>
		    	<p><span class="item">Destino: </span>{{destino}}</p>
				<p><span class="item">Empresa: </span>{{empresa}}</p>
		    	<p><span class="item">Valor: </span>{{valor | currency : 'CO$' : 0}}</p>
		    	<p><span class="item">Usuario: </span>{{usuario[0].usuario}}</p>
	
				
				<button class="btn btn-primary" ng-click="sendService()">Enviar servicio</button>
				<button ng-click="print('print')" class="btn btn-primary">Print</button>
			</div>
		</div>
		<div class="alert alert-dismissable alert-success" ng-show="ver">
		    <button type="button" class="close" data-dismiss="alert">×</button>
		    <strong>{{respuesta}} </strong> 
		</div>
		
	</div>
</div>