<div class="container">
<div class="row resumen" ng-controller="ResumenCrtl">
	<!-- <div class="col-md-12"> -->
		<!-- <h2>{{titlePage}}</h2> -->
		<div class="panel panel-info" id="print">
			<div class="panel-heading">
				<h3 class="panel-title">Resumen del servicio</h3>
			</div>	
			
			<div class="panel-body">
				<div class="col-md-6">
					<p><span class="item">Tipo de envío: </span>{{tipo}}</p>
					<!-- <p><span class="item">Ciudad: </span>{{ciudad}}</p> -->
					<p><span class="item">Tipo de pago: </span>{{tipoPago}}</p>
					<p><span class="item">Origen: </span>{{origen}}</p>
			    	<p><span class="item">Destino: </span>{{destino}}</p>
					<p><span class="item">Empresa: </span>{{empresa}}</p>
			    	<p><span class="item">Valor: </span>{{valor | currency : 'CO$' : 0}}</p>
			    	<p><span class="item">Usuario: </span>{{usuario[0].nombre}}</p>
		    	</div>

		    	<div class="col-md-6">
					<div class="form-group">
						<label class="label-control">Agregar comentario</label>
						<textarea id="comentario" class="form-control" ng-model="comentario" cols="6" rows="5" placeholder="Ingrese un comentario para su servicio"></textarea>
					</div>
				</div>
				
				<button class="btn btn-primary" ng-click="sendService()">Enviar servicio</button>
			</div>
		</div>

		<div class="alert alert-dismissable alert-success" ng-show="ver">
		    <button type="button" class="close" data-dismiss="alert">×</button>
		    <strong>{{respuesta}} </strong> 
		    <button ng-click="print('print')" class="btn btn-primary imprimir">Imprimir Recibo</button>
		</div>
		
	<!-- </div> -->
</div>
</div>