<script>
    $(document).ready(function() {
    	$(document).ready(function() {
            $.material.init();
        });
    });
</script>

<div class="container">
<div class="row servicios">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Panel de administración</h3>
			</div>
			<div class="panel-body">
				<div class="row items">
					<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" ng-controller="EmpresaCtrl">
						<div class="info-empresa">
							<i class="mdi-social-notifications icon-empresa"></i>
							<span class="numero">{{pendientes}}</span>
							<p>Pendientes</p>
						</div>
					</div>
						<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" ng-controller="EmpresaCtrl">
						<div class="info-empresa">
							<i class="mdi-maps-place icon-empresa"></i>
							<span class="numero">{{asignados}}</span>
							<p>Servicios</p>
						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" ng-controller="DomisiliariosCtrl">
						<div class="info-empresa">
							<i class="mdi-social-people icon-empresa"></i>
							<span class="numero">{{domi}}</span>
							<p>Domisiliarios</p>
						</div>
					</div>
				</div>

				<div class="row menu-list">
				<!-- <div class=""> -->
					<ul>
				        <li><a href="#/empresa">Gestionar servicios</a></li>
				        <li><a href="#/domisiliarios">Gestionar domiciliarios</a></li>
				        <li><a href="#/servicios">Informe de servicios</a></li>
				        <!-- <li><a href="">Editar datos</a></li> -->
			        </ul>
		        <!-- </div> -->
		        </div>

				  <div class="contenido" ng-controller="EmpresaCtrl">
				    <h3>Gestion de servicios</h3>
				    <div class="services table-responsive">
					<h1 ng-if="hayserives">No tiene servicios</h1>
					<table class="table table-hover">
						<thead >
							<tr>
								<th>Tipo</th>
								<th>Origen</th>
								<th>Destino</th>
								<th>Cliente</th>
								<th>Precio</th>
								<th>Estado</th>
							</tr>
						</thead>	
						<tbody>
							<tr ng-repeat="service in serviciosAsignados"> 
								<!-- <td>{{$index + 1}}</td> -->
								<td>{{service.tipoServicio}}</td>
								<td>{{service.dirOrigen}}</td>
								<td>{{service.dirDestino}}</td>
								<td>{{service.userId.nombre}}</td>
								<td>{{service.valorPedido}}</td>
								<td><span class="label label-success">{{service.estadoService}}</span></td>
								<!-- <td><button class="btn btn-success btn-xs" ng-click="asignarDomi(service._id)" data-toggle="modal" data-target="#asignar">Asignar</button></td> -->
							</tr>
						</tbody>
					</table>
				<!-- 	<button  ng-click="newService()" class="btn btn-success btn-fab btn-raised mdi-content-add"></button><span class="nuevo">Nuevo servicio</span> -->
				</div>
				  </div>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>
</div>