<script>
    $(document).ready(function() {
    	$(document).ready(function() {
            $.material.init();
        });
    });
</script>

<div class="container">
<div class="row">
	<div class"col-md-12">
	<div class="col-md-6 signup">
		<div class="panel panel-default registro">
		    <div class="panel-heading">
		        <h3 class="panel-title">Registro</h3>
		    </div>
		    <div class="panel-body">
		    	<!-- <h3>Registro de usuarios</h3> -->
		       <form ng-submit="signup.signup()" method="post">
		       		<div class="form-group">
		       			<label class="control-label">Nombre</label>
		       			<div class="input-group">
		       				<span class="input-group-addon icon-text"></span>
		       				<input class="form-control" type="text" ng-model="signup.nombre" />
		       			</div>
		       		</div>	

		       		<div class="form-group">
		       			<label class="control-label">Email</label>
		       			<div class="input-group">
		       				<span class="input-group-addon mdi-navigaton-apps icon-text"></span>
		       				<input class="form-control" type="email" ng-model="signup.email" />
		       			</div>
		       		</div>

		       		<div class="form-group">
		       			<label class="control-label">Teléfono</label>
		       			<div class="input-group">
		       				<span class="input-group-addon icon-text"></span>
		       				<input class="form-control" type="text" ng-model="signup.telefono" />
		       			</div>
		       		</div>

		       		<div class="form-group">
		       			<label class="control-label">Usuario</label>
					    <div class="input-group">
					        <span class="input-group-addon icon-text"></span>
					        <input class="form-control" type="text" ng-model="signup.usuario">
					    </div>
		       		</div>

		       		<div class="form-group">
		       			<label class="control-label">Password</label>
					    <div class="input-group">
					        <span class="input-group-addon icon-text"></span>
					        <input class="form-control" type="password" ng-model="signup.password">
					    </div>
		       		</div>
		       		
					<button class="btn btn-success" type="submit">Registrarse</button>
				</form>
		    </div>
		</div>
	</div>
	<!-- <div class="col-md-2"></div> -->
<!-- 	<div class="col-md-4">
		<button href="#/registro" class="btn btn-warning btn-lg empresa-btn" ng-click="signup.ver_registro()">Soy una empresa</button>
	</div> -->
	</div>
</div>
</div>